@import "../../assets/sass/libs/vendor";
@import "../../assets/sass/libs/vars";
@import "../../assets/sass/libs/functions";
@import "../../assets/sass/libs/mixins";
@import "../../assets/sass/libs/breakpoints";

@include breakpoints(
  (
    wide: (
      961px,
      1880px
    ),
    normal: (
      961px,
      1620px
    ),
    narrow: (
      961px,
      1320px
    ),
    narrower: (
      737px,
      960px
    ),
    mobile: (
      null,
      736px
    )
  )
);

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.typewriter:after {
  content: "|";
  -webkit-animation: blink 500ms linear infinite alternate;
  animation: blink 500ms linear infinite alternate;
}

.typewriter{
  font-weight: 400;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.h1-typewriter {
  margin-top: 5.5em;
  font-family: "Anonymous Pro", "Courier New", Courier, monospace;
  color: #f2a30f;
  font-size: 3em;
}

.h3-typewriter {
  font-family: "Anonymous Pro", "Courier New", Courier, monospace;
}

.pre-typewriter,
.h3-typewriter {
  color: #e9eefc;
  background-color: transparent;
}

.pre-typewriter {
  font-size: 0.75rem;
  margin-top: 0.70rem;
}

@include breakpoint("<=narrower") {
  .h1-typewriter{
    margin-top: 25vw;
  }
}