---
layout: page
title: Blog
categories: blog
permalink: /blog/
---
<div class="container">
	{% for post in site.posts %}
		<div class="row">
			<article class="page row">
				{% if post.thumbnail %}
				<div class="col-md-3">
					<img class="thumbnail" src="{{ post.thumbnail }}" alt="">
				</div>
				{% endif %}
				{% if post.thumbnail %}<div class="col-md-9">{% else %}<div class="col-md-12">{% endif %}
					<br>
					<div class="date">Written on {{ post.date | date: "%B %e, %Y" }}</div >	
					<h1>{{ post.title }}</h1>
					<div class="entry">
						<p>{{ post.excerpt }}</p>	    
					</div>
					<div class="row">
						<div class="col-md-12">
							<a href="{{ site.baseurl }}{{ post.url }}" class=" btn-link read-more float-right">Keep Reading</a>
						</div>
					</div>
				{% if post.thumbnail %}</div>{% endif %}
			</article>
		</div>
		<div class=" divider"></div>
		<br>

	{% endfor %}
</div>