---
---

//
// IMPORTS
//

@charset "utf-8";
@import "reset";
@import "variables";

// Variables to modify font folders
$icon-font-path:   "/fonts/bootstrap";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap/bootstrap";
@import "font";

// Syntax highlighting @import is at the bottom of this file


$mobile_width: '600px';
$topbar_height: '1ex';

/**************/
/* BASE RULES */
/**************/

body{
  background-color: $blue;
}


#particles-js canvas{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 1.5s ease-in-out;
  &.active{
    display: block;
    opacity: 1;
  }
}


#page-leftbar{
  width: 100vh;
  height: $topbar_height;
  z-index:9999;
  overflow:hidden;
  position:fixed;
  top: 0;
  left:0;
  -webkit-transition:250ms ease;
  transition:250ms ease;
  background-color: #f4f4f4;

  @media only screen and (min-width: $mobile_width ) {
    width: 5ex;
    height: 100vh;
    margin-top: 0;
  }

  header{
    span{
      font-family: 'Teko', cursive;
    }
  }

  span{
      visibility: hidden;
      position: absolute;
  }

  @media only screen and (min-width: $mobile_width) {   
    &.expanded{
      width:20ex;
      span{
        visibility: visible;
        transition-delay: 2s;
        transition: visibility 250ms ease;
      }  
    } 
  }

  

  #sidebar{
    //white-space:normal;

    @media only screen and (max-width: $mobile_width) {   
      margin:0 0 0 0;
    }
    padding-left:0!important;
  
    .badge{
      font-weight:600;
      background-color:rgba(21,22,26,0.6);
      right:25px!important;

    }
  
    .divider{
      @media  only screen and (max-width: $mobile_width) {
        height: 100%;
        width: 1px;
      }
      height:1px;
      width:100%;
      margin:10px 0;
      overflow:hidden;
      box-shadow:inset -1px 0 0 0 rgba(0,0,0,0.1);
      background-color:#d2d3d6;
      &:hover{background-color:#d2d3d6;}
    }
  
    a{
      text-decoration:none;
      &:hover{
        background-color:#d2d3d6;
        color:#3f444c;
        box-shadow:inset -1px 0 0 0 rgba(0,0,0,0.1);
      }
    }

  
  
    li, header{
      @media  only screen and (max-width: $mobile_width) {
        display: inline-block;
      }
      a{
        color:#3f444c;
        display:block;
        
        padding:10px;
        position:relative;
  
        span{
          padding-left: 6%;
        }
      }
  
      &.active{
        i, a:hover i{color:#fff;}
      }
  
      &.hasChild{
        &>a{
          position:relative;
          &:before, &:after{content:" ";display:table;}
          &:after{clear:both;}
        }
      }
    }


  @media only screen and (max-width: $mobile_width) {
    header{
      left: 200vh;
      float: right;
      i{
        display: none;
      }
      span{
        visibility: visible;
        //display: inline;
      }
    }
  }

  
  
    &>li.active{
      &>a{
        background:#595f69;color:#fff;box-shadow:inset -1px 0 0 0 rgba(0,0,0,0.1);
        &:after{
          width:0;
          height:0;
          border-style:solid;
          border-width:9px 9px 9px 0;
          border-color:transparent #f7f8fa transparent transparent;
          content:"";
          position:absolute;
          top:50%;margin-top:-9px;right:0;
        }
      }
    }
  
    ul{
      padding:5px 0;
      list-style:none;
      padding-left:0!important;
  
      ul{padding:0;}
  
      li{ 
        a{padding:5px 10px 5px 37px;}
        &.active:not(.open)>a{font-weight:600;color:#3f444c;}
        
      }
    }
  
  }
}

#wrap{
  @media only screen and (min-width: $mobile_width) {
    margin-left: 3rem !important;
  }
}

@import "typewriter.scss";

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

