---
---

//
// IMPORTS
//

@charset "utf-8";
@import "reset";
@import "variables";

// Variables to modify font folders
$icon-font-path:   "/fonts/bootstrap";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap/bootstrap";
@import "font";

// Syntax highlighting @import is at the bottom of this file




/**************/
/* BASE RULES */
/**************/

body{
  background-color: $blue;
}


#particles-js {
  canvas{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
}

.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 1.5s ease-in-out;
  &.active{
    display: block;
    opacity: 1;
  }
}


#page-leftbar{
  width: 5ex;
  height: 100vh;
  z-index:9999;
  overflow:hidden;
  position:fixed;
  top: 0;
  left:0;
  -webkit-transition:250ms ease;
  transition:250ms ease;
  background-color: #D1DCF5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  @include mobile {
    width: 100vw !important;
    height: 5ex !important;
  }

  header{
    span{
      font-family: $teko;
    }
  }

  span{
      visibility: hidden;
      position: absolute;
  }

  @media only screen and (min-device-width: $mobile_width) {   
    &.expanded{
      width:20ex;
      span{
        visibility: visible;
        transition-delay: 2s;
        transition: visibility 250ms ease;
      }  
    } 
  }

  

  #sidebar{
    //white-space:normal;

    @include mobile {   
      margin:0 0 0 0;
    }
    padding-left:0!important;
  
    .badge{
      font-weight:600;
      background-color:rgba(21,22,26,0.6);
      right:25px!important;

    }
  
    .divider{
      @include mobile {
        height: 100%;
        width: 1.5px;
      }
      height:1.5px;
      width:100%;
      margin:5px 0;
      overflow:hidden;
      box-shadow:inset -1px 0 0 0 rgba(0,0,0,0.1);
      background-color:darken(#D1DCF5, 8%);
      &:hover{background-color:darken(#D1DCF5, 8%);}
    }
  
    a{
      text-decoration:none;
      &:hover{
        background-color:darken(#D1DCF5, 7%);
        color:#3f444c;
        box-shadow:inset -1px 0 0 0 rgba(0,0,0,0.1);
      }
    }

  
  
    li, header{
      @include mobile {
        display: inline-block;
      }
      
      #leftmenu-notrigger{
        display: none;
      }

      #leftmenu-trigger{
        display: block;
      }

      a{
        color:darken(#1C3B59, 2%);
        display:block;
        
        padding:10px;
        position:relative;
  
        span{
          padding-left: 6%;
        }
      }
  
      &.active{
        i, a:hover i{color:#fff;}
      }
  
      &.hasChild{
        &>a{
          position:relative;
          &:before, &:after{content:" ";display:table;}
          &:after{clear:both;}
        }
      }
    }




  @include mobile {
    header{
      padding-right: 12ex;
      float: right;

      #leftmenu-trigger{
        display: none;
      }

      #leftmenu-notrigger{
        display: block;
      }

      i{
        display: none;
      }
      span{
        visibility: visible;
        //display: inline;
      }

    }
  }

  
  
    &>li.active{
      &>a{
        background:darken(#1C3B59, 2%);color:#fff;box-shadow:inset -1px 0 0 0 rgba(0,0,0,0.1);
        &:after{
          width:0;
          height:0;
          border-style:solid;
          border-width:9px 9px 9px 0;
          border-color:transparent #f7f8fa transparent transparent;
          content:"";
          position:absolute;
          top:50%;margin-top:-9px;right:0;
        }
      }
    }
  
    ul{
      padding:5px 0;
      list-style:none;
      padding-left:0!important;
  
      ul{padding:0;}
  
      li{ 
        a{padding:5px 10px 5px 37px;}
        &.active:not(.open)>a{font-weight:600;color:#3f444c;}
        
      }
    }
  
  }
}

#wrap{
  padding-top : 1rem;
  padding-left: 0rem;
  @include mobile {
    padding-left: 0rem !important;
    padding-top : 4rem !important;
  }
}

#greeter{
  margin-top: 50vh;
  @include mobile {
    margin-top: 20vh !important;
  }
}

#my_information{
  margin-top: 3vh;
  background-color: rgba(255, 255, 255, 0); 
  box-shadow: none; 
  color: #EBF4F7; 
  font-size:0.7rem;
}

#page{
  font-family: $helveticaNeue;
  .container{
    background-color: #E9EEFC;  
    color: #1C3B59;
  }

  .post{
     color: #1C3B59;
  }
  
  h1, h2, h3, h4, h5{
    margin: 0.6rem auto 0.6rem auto;
    font-family: $oswald;
  }

  // ol{
  //   list-style: inherit;
  // } 

  // ul{
  //   list-style: inherit;
  // }

 

  p{
    font-family: $montserrat;
  }


  .breadcrumb{
    font-family: $teko;
    background-color: transparent;
    padding: 0;
    margin: 0;
  }

  .read-more, .prev, .next{
      font-family: $oswald;    
  }

  .date{
    font-family: $oswald;
  }

  .divider{
      width: 100%;
      height: 8ex;
      background-image: url('/assets/divider.png');
      background-repeat: no-repeat;
      background-position: center; 
      background-size: 8rem auto;
    }
  
  article{
    .thumbnail{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


}

  hr.style1{
    height: 6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
    color: #1C3B59;

  }

  hr.style2 {
    height: 6px;
    background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
    text-align: center;
    color: #1C3B59;

  }
  hr.style2:after {
    content: '\002665';
    display: inline-block;
    position: relative;
    top: -15px;
    padding: 0 10px;
    background: #E9EEFC;
    color: #1C3B59;
    font-size: 18px;
  }


@import "typewriter.scss";

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

