footer {
    padding: 3ex 10vw 7ex 10vw;
    margin-top: 4ex;
    background-color: desaturate(darken(#e9eefc, 2%), 10%);
    color: desaturate(darken(#e9eefc, 30%), 50%);
    p {
      font-family: Arial, Helvetica, sans-serif;
      margin: auto;
      display: block;
      text-align: center;
      font-size: 0.9em;
    }
  }
  