<nav id="page-leftbar" role="navigation">
    <!-- BEGIN SIDEBAR MENU -->
        <ul class="acc-menu" id="sidebar">
            <header  role="banner">
                <li>  
                    <a id="leftmenu-trigger" class="pull-left" data-toggle="tooltip" title="Toggle Left Sidebar"><i class="fa fa-grip-vertical fa-fw"></i></a>
                </li>
            </header>
            <li class="divider"></li>            
            <li id="search">
                <a href="javascript:void(0);"><i class="fa fa-search  fa-fw"></i><span>Search</span></a>                
            </li>
            <li class="divider"></li>
            <li>
                <a  href="javascript:void(0);"><i class="fa fa-home  fa-fw"></i><span>Home</span></a>
            </li>
            <li>
                <a  href="javascript:void(0);"><i class="fa fa-pen-alt  fa-fw"></i><span>Blog</span></a>
            </li>
            <li>
                <a  href="javascript:void(0);"><i class="fa fa-laptop-code  fa-fw"></i><span>Portfolio</span></a>
            </li>
            <li class="divider"></li>
            <li >
                <a href="javascript:void(0);"><i class="fa fa-user  fa-fw"></i><span>About</span></a>
            </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</nav>