<nav id="page-leftbar" role="navigation">
    <!-- BEGIN SIDEBAR MENU -->
        <ul class="acc-menu" id="sidebar">
            <header  role="banner" >
                <li>  
                    <a id="leftmenu-trigger" class="pull-left" data-toggle="tooltip" title="Toggle Left Sidebar"><i class="fa fa-grip-vertical fa-fw"></i><span>DESENFIRMAN.ME</span></a>
                </li>
                <li>  
                    <a id="leftmenu-notrigger" href="/"><span>DESENFIRMAN.ME</span></a>
                </li>
            </header>
            <li class="divider" ></li>            
            <li id="search">
                <a href="javascript:void(0);"><i class="fa fa-search  fa-fw"></i><span>Search</span></a>                
            </li>
            <li class="divider"></li>

            
            {% for n in site.data.nav %}
                {% if n.id == "divider" %}
                    <li class="divider"></li>
                {% else %}

                <li 
                    {%if page.categories contains n.id  %}
                        class="active"
                    {% endif %} 
                >
                    <a href="{{ n.permalink }}"><i class="fa {{ n.icon }} fa-fw"></i><span>{{ n.page }}</span></a>
                </li>
                {% endif %}
            {% endfor %}

        


    </ul>

    <!-- END SIDEBAR MENU -->
</nav>