.disable-overflow{
  overflow: hidden;
}

#search_overlay{
  .container{
    padding-top: 10vh;
  }
}

#search_button:hover{
  cursor: pointer;
}


#search_overlay{
  color: #E9EEFC;
  #tags{
    margin: 0.2ex auto 7ex auto;
    @include mobile(){
      margin-top: 1ex;
    }
  }
}

#search-hits{
  color: #1C3B59;
  .ais-hits{
    background-color: #E9EEFC;
    overflow-y: auto; 
    padding: 2ex;
    max-height: 70vh;
    border: 1px solid #d4d8e3;
    border-radius: 4px;
    box-sizing: border-box;
  }
  h1, h2, h3, h4, h5{
    margin: 0.6rem auto 0.6rem auto;
    font-family: $oswald;
  }

  p{
    font-family: $montserrat;
    &:has(> a){
      margin: 0 !important;
    }
  }

  a{
    text-decoration: none;
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    /* ...and now override with proper CSS property */
    transition:color .2s ease-out, background 1s ease-in;
    &:hover{
      color: lighten(saturate(#1C3B59, 30), 30);
    }
  }
}

.post-meta{
    font-family: $oswald;
    color: lighten(desaturate(#1C3B59, 30), 20);
}

.post-breadcrumb{
    font-family: $oswald;

}