.fun-highlight {
    color: #8478EA;
  }
  
  .string-highlight {
    color: #F2A30F;
}
  

#greeter{
   h1{
      font-size: 9vh;
      color: #F2A30F;
      font-family: $anonymous_pro;
    }
}

  .typewrite{
   
    color: #EBF4F7;
    font-family: $anonymous_pro;
  }
  
  
  
  .typewriter:after {
    content: "|";
    -webkit-animation: blink 500ms linear infinite alternate;
            animation: blink 500ms linear infinite alternate;
  }
  
  @-webkit-keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }