
//
// VARIABLES
//

// Colors
$blue: #1C3B59;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$teko: 'Teko', cursive;
$montserrat: 'Montserrat', sans-serif;
$oswald: 'Oswald', sans-serif;
$anonymous_pro: '' ; 

$mobile_width: 750px;
$topbar_height: '1ex';

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-device-width: $mobile_width) {
    @content;
  }
}