---
layout: page
title: Blog
categories: blog
---
<div class="container">
	{% for post in paginator.posts %}
		<div class="row">
			<article class="page row">
				{% if post.thumbnail %}
				<div class="col-md-3">
					<img class="thumbnail" src="{{ post.thumbnail }}" alt="">
				</div>
				{% endif %}
				{% if post.thumbnail %}<div class="col-md-9">{% else %}<div class="col-md-12">{% endif %}
					<br>
					<div class="date">Written on {{ post.date | date: "%B %e, %Y" }}</div >	
					<a class="title" href="{{ site.baseurl }}{{ post.url }}"><h1>{{ post.title }}</h1></a>
					<div class="entry">
						<p>{{ post.excerpt }}</p>	    
					</div>
					<div class="row">
						<div class="col-md-12">
							<a href="{{ site.baseurl }}{{ post.url }}" class=" btn-link read-more float-right">Keep Reading</a>
						</div>
					</div>
				{% if post.thumbnail %}</div>{% endif %}
			</article>
		</div>
		<div class=" divider"></div>
		<br>

	{% endfor %}
</div>


	<hr class="style1">
		<div class="container ">
			<div class="row">
			<div class="col col-xs-4">
				{% if paginator.previous_page %}
			    	<a class="btn btn-link prev" href="{{ paginator.previous_page_path }}">&laquo; Previous</a>
				{% else %}
					<span class="btn btn-link  prev float-left  disabled">Previous</span>
				{% endif %}
			</div>
			<div class="col col-xs-4 ">
				<span class="btn btn-link disabled page-number">
			    	Page: {{ paginator.page }} of {{ paginator.total_pages }}
			  	</span>
			</div>
			<div class="col col-xs-4">
			  {% if paginator.next_page %}
			    <a class="btn btn-link next float-right" href="{{ paginator.next_page_path }}">Next &raquo;</a>
			  {% else %}
				<span class="btn btn-link next disabled float-right">Next</span>
			  {% endif %}
			</div>
			</div>
		</div>
	<hr class="style1">