@import "libs/vendor";
@import "bootstrap/bootstrap.scss";
@import "libs/vars";
@import "libs/functions";
@import "libs/mixins";
@import "libs/breakpoints";
@import "libs/html-grid";
// @import 'font-awesome/variables';
// @import 'font-awesome/mixins';
// @import 'font-awesome/core';
// @import 'font-awesome/larger';
// @import 'font-awesome/fixed-width';
// @import 'font-awesome/list';
// @import 'font-awesome/bordered-pulled';
// @import 'font-awesome/animated';
// @import 'font-awesome/rotated-flipped';
// @import 'font-awesome/stacked';
// @import 'font-awesome/icons';
// @import 'font-awesome/screen-reader';
// @import "./fontawesome/fontawesome.scss";

// Breakpoints.

@include breakpoints(
  (
    wide: (
      961px,
      1880px
    ),
    normal: (
      961px,
      1620px
    ),
    narrow: (
      961px,
      1320px
    ),
    narrower: (
      737px,
      960px
    ),
    mobile: (
      null,
      736px
    )
  )
);

/* Basic */

// Set box model to border-box.
// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // Stops initial animations until page loads.
  &.is-preload {
    *,
    *:before,
    *:after {
      @include vendor("animation", "none !important");
      @include vendor("transition", "none !important");
    }
  }
}

sub {
  position: relative;
  top: 0.5em;
  font-size: 0.8em;
}

sup {
  position: relative;
  top: -0.5em;
  font-size: 0.8em;
}

dl,
table {
  margin-bottom: 2em;
}

br.clear {
  clear: both;
}

/* Container */

/* Sections/Article */

/* List */

ul {
  list-style: disc;
  padding-left: 1em;

  li {
    padding-left: 0.5em;
  }
}

ol {
  list-style: decimal;
  padding-left: 1.25em;

  li {
    padding-left: 0.25em;
  }
}

/* Icons */

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;
    padding-left: 0;
  }

  a {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border: 0;
  }
}

/* Form */

form {
  label {
    display: block;
    text-align: left;
    margin-bottom: 0.5em;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  select,
  textarea {
    position: relative;
    -webkit-appearance: none;
    display: block;
    border: 0;
    outline: 0;
    background: #fff;
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    border-radius: 0.35em;
    padding: 0.75em 1em 0.75em 1em;
    box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.15);
    @include vendor("transition", "all 0.35s ease-in-out");

    &:focus {
      box-shadow: 0 0 2px 1px #8ebebc;
      background: #fff;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    line-height: 1.25em;
  }

  textarea {
    min-height: 14em;
  }

  ::-webkit-input-placeholder {
    color: #555 !important;
  }

  :-moz-placeholder {
    color: #555 !important;
  }

  ::-moz-placeholder {
    color: #555 !important;
  }

  :-ms-input-placeholder {
    color: #555 !important;
  }

  ::-moz-focus-inner {
    border: 0;
  }
}

/* Table */

table {
  width: 100%;
  text-align: left;

  tbody {
    tr {
      &:nth-child(2n + 2) {
        background: #f4f4f4;
      }
    }
  }

  td {
    padding: 0.5em 1em 0.5em 1em;
  }

  th {
    text-align: left;
    padding: 0.5em 1em 0.5em 1em;
    color: #fff;
    background: #222729 url("../images/overlay.png");
  }

  thead {
    background: #444;
    color: #fff;
  }

  tfoot {
    background: #eee;
  }
}

/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
.button {
  position: relative;
  display: inline-block;
  border-radius: 0.35em;
  color: #fff !important;
  text-decoration: none;
  padding: 0.75em 2.5em 0.75em 2.5em;
  background-color: #8ebebc;
  border: 0;
  cursor: pointer;
  @include vendor(
    "background-image",
    ("linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15))", 'url("../images/overlay.png")')
  );
  @include vendor("transition", "background-color 0.35s ease-in-out");

  &:hover {
    background-color: #9ececc;
  }

  &:active {
    background-color: #7eaeac;
  }
}

/* Item */

.item {
  box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 40px;

  header {
    background: #fff;
    margin: 0;
    padding: 1em 0 1em 0;
    font-size: 0.8em;

    h3 {
      font-size: 1em;
    }
  }
}

/* Icons */

.icon {
  text-decoration: none;

  &:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.25em;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  > .label {
    display: none;
  }
}

/* Header */

#logo {
  position: relative;
  margin: 1.75em 1.5em 1.5em 1.5em;
  min-height: 48px;
  cursor: default;

  p {
    position: relative;
    display: block;
    font-size: 0.6em;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.25em;
    margin: 0.5em 0 0 0;
  }

  .image {
    position: absolute;
    left: 0;
    top: 0;
  }
}

/* Footer */

#footer {
  text-align: center;
  // background-color: #dce3e2;
  padding: 3em 0 4em 0;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
  font-size: 0.8em;

  .copyright {
    cursor: default;
    margin: 0;

    li {
      display: inline-block;
      line-height: 1em;
      border-left: solid 1px rgba(128, 128, 128, 0.35);
      padding: 0 0 0 0.5em;
      margin: 0 0 0 0.5em;

      &:first-child {
        border-left: 0;
        padding-left: 0;
        margin-left: 0;
      }
    }
  }
}

/* Main */

#main {
  margin-left: 375px;

  > section {
    margin: 0;
    overflow: hidden;
    padding: 4em 0;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
    text-align: center;
    background-image: url("../images/overlay.png");

    &.dark {
      color: #ddd;
      color: rgba(255, 255, 255, 0.75);

      h2,
      h3,
      h4,
      h5,
      h6 {
        color: inherit;
      }

      strong {
        color: #fff;
        border-color: inherit;
      }

      a {
        color: #fff;
        border-color: inherit;

        &:hover {
          border-bottom-color: rgba(255, 255, 255, 0);
        }
      }
    }

    &.cover {
      padding: 10em 0;
      background-size: cover;
      background-position: center center;
    }

    &.one {
      background-color: #81918e;
      background-image: url("../images/banner.jpg");
    }

    &.two {
      background-color: #f5fafa;
    }

    &.three {
      background-color: #ecf1f1;
    }

    &.four {
      background-color: #e8edec;
    }
  }
}

#breadcrumb-nav {
  margin-top: 0.75em;
}

/* Wide */

/* Normal */

@include breakpoint("normal") {
  /* Main */

  #main {
    > section {
      padding: 3em 0;
    }

    section {
      &.cover {
        padding: 5em 0;
      }
    }
  }
}

/* Narrow */

@include breakpoint("narrow") {
  /* Basic */

  /* Icons */

  ul.icons {
    li {
      a {
        width: 1.75em;
      }
    }
  }

  /* Item */

  .item {
    margin-bottom: 20px;
  }

  /* Header */

  #header {
    width: 60px;
  }

  #logo {
    .image {
      position: relative;
      margin: 0 0 0.5em 0;
    }
  }

  #nav {
    ul {
      li {
        a {
          span {
            &:before {
              //   left: 100%;
              //   margin-left: -1.25em;
              //   line-height: 2.25em;
            }
          }
        }
      }
    }
  }

  /* Footer */

  #footer {
    margin-left: 20%;
  }

  /* Main */

  #main {
    margin-left: 20%;
  }
}

/* Narrower */

#headerToggle {
  display: none;
}

@include breakpoint("<=narrower") {
  /* Basic */

  html,
  body {
    overflow-x: hidden;
  }

  header {
    br {
      display: none;
    }
  }

  #breadcrumb-nav {
    margin-top: 3.75em;
  }

  /* Item */

  .item {
    margin-bottom: 15px;
  }

  /* Icons */

  ul.icons {
    a {
      width: 1.75em;
      font-size: 1.25em;
    }
  }

  /* Header */

  /* Main */

  #main {
    @include vendor("backface-visibility", "hidden");
    @include vendor("transition", "transform #{_duration(header)} ease");
    padding-bottom: 1px;
    margin-left: 0;

    > section {
      padding: 3em 0;
    }

    section {
      &.cover {
        padding: 4em 0;
      }
    }
  }
}

/* Mobile */

@include breakpoint("<=mobile") {
  /* Basic */

  body,
  input,
  textarea,
  select {
    font-size: 14pt;
  }

  h2 {
    font-size: 1.5em;
    letter-spacing: 0;
    font-weight: 300;
  }

  /* List */

  ul.icons {
    a {
      width: 2em;
      font-size: 1.25em;
    }
  }

  /* Main */

  #main {
    > section {
      padding: 2em 0;
    }

    section {
      &.cover {
        padding: 4em 0em;

        header {
          padding: 0 1em;
        }
      }
    }
  }
}

.time {
  font-family: $headings-font-family;
  color: lighten(desaturate(#1c3b59, 30), 20);
  font-size: $small-font-size;
  margin-bottom: 1rem;
}

footer {
  padding: 3ex 10vw 7ex 10vw;
  margin-top: 4ex;
  background-color: desaturate(darken(#e9eefc, 2%), 10%);
  color: desaturate(darken(#e9eefc, 30%), 50%);
  p {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    display: block;
    text-align: center;
    font-size: 0.7em;
  }
}
