.ais-SearchBox-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  .ais-SearchBox-input {
    // outline: none;
    // border: none;
    font-size: 1em;
    background: transparent;
  }
}

.ais-Hits-list{
  list-style-type: none;
  li{
    padding-left: 0;
  }
}

.ais-Highlight-highlighted, .ais-Snippet-highlighted{
  background-color: darken($color: #E9EEFC, $amount: 10%)
}