<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <script defer src="{{ "/assets/js/fontawesome-all.min.js" | absolute_url }}"></script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/bootstrap.min.css" | absolute_url }}">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | absolute_url }}">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/typewriter.css" | absolute_url }}">

    {% seo %}
</head>
<body >
    <div id="particles-js">

    </div>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-1 d-none d-md-block bg-light sidebar">
                  <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                      <li class="nav-item" style="margin: auto auto 80px auto;>
                        <a class="nav-link active" href="#">
                             <h2>DF</h2>
                        </a>
                      </li>
                      <br ">
                      <li class="nav-item">
                        <a class="nav-link active" href="#">
                          <span class="fas fa-home fa-2x"></span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">
                          <span class="fas fa-pencil-alt fa-2x"></span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">
                          <span class="fas fa-code fa-2x"></span>
                        </a>
                      </li>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>

                    </ul>
                  </div>
            </nav>
            <main role="main" class="ml-5 pl-5 col-lg-6 pt-3">
                    <div class="container-fluid">
                                <span class="row" style="margin-bottom: 50vh;"></span>
                                <h1  class="typewriter">
                                    <section>Hi, <br>I'm Dese,</section>
                                </h1>
                                <h3 class="typewrite" data-period="2000" data-type='[ "Study at Universitas Brawijaya.", "Taking computer science course and...", "focused at Machine Learning Development.", "I love programming", "Used to be Java Developer. But...", "Now, I am a Pythoneer", "Python is Love, Python is Life!" , ""  ]'></h3>
                    </div>
            </main>
            <div class="ml-5 pl-5 col-lg-4 pt-3">
                <div class="container-fluid">
                    <span class="row" style="margin-bottom: 8vh;"></span>
                    <pre class="typewriter" style="background-color: rgba(255, 255, 255, 0); box-shadow: none; color: #EBF4F7; font-size:1.6vh;" >
<span class="fun-highlight">import</span> SomeDBConnector <span class="fun-highlight">as</span> db;

<span class="fun-highlight">class</span> MyInformation:
    conn = db.connect(<span class="string-highlight">"SOMEHOST"</span>, <span class="string-highlight">"guest"</span>, <span class="string-highlight">"*******"</span>,
        <span class="string-highlight">"SOMEDATABASE"</span>)
    cursor = conn.cursor()

    query = <span class="string-highlight">'SELECT email, instagram, twitter,  </span>
        <span class="string-highlight">linkedin, github FROM user_table </span>
        <span class="string-highlight">WHERE username=\'desenfirman\''</span>

    <span class="fun-highlight">def</span> __init__(self):
        cursor.execute(query)
        self.__result = cursor.fetchone()

    <span class="fun-highlight">def</span> <a href="mailto:desenfirman@gmail.com" style="
    font-weight: 1000; background-color: #f4f4f4;
">getEmailData()</a>:
        <span class="fun-highlight">return</span> self.__result[0]

    <span class="fun-highlight">def</span> <a href="http://instagram.com/desenfirman" style="
    font-weight: 1000; background-color: #f4f4f4;
">getInstagramData()</a>:
        <span class="fun-highlight">return</span> self.__result[1]

    <span class="fun-highlight">def</span> <a href="http://twitter.com/desenfirman" style="
    font-weight: 1000; background-color: #f4f4f4;
">getTwitterData()</a>:
        <span class="fun-highlight">return</span> self.__result[2]

    <span class="fun-highlight">def</span> <a href="http://www.linkedin.com/in/desenfirman/" style="
    font-weight: 1000; background-color: #f4f4f4;
">getLinkedInData()</a>:
        <span class="fun-highlight">return</span> self.__result[3]

    <span class="fun-highlight">def</span> <a href="http://github.com/desenfirman" style="
    font-weight: 1000; background-color: #f4f4f4;
">getGithubData()</a>:
        <span class="fun-highlight">return</span> self.__result[4] </pre>
            </div>
            </div>
        </div>
    </div>

    <script src="{{ "/assets/js/jquery-3.2.1.min.js" | absolute_url }}"></script>
    <script src="{{ "/assets/js/popper.min.js" | absolute_url }}"></script>
    <script src="{{ "/assets/js/bootstrap.min.js" | absolute_url }}"></script>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{{ "/assets/js/particle.js" | absolute_url }}"></script>
    <script src="{{ "/assets/js/typewriter.js" | absolute_url }}"></script>
</body>
</html>
