<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href='{{ "/style.css" | absolute_url }}'>

    <link rel="stylesheet" type="text/css" href='{{ "/css/all.min.css" | absolute_url }}'>
    

    {% seo %}
</head>
<body {% if page.url != "/" %} style="background-color: #E9EEFC" {% endif %} >
    <div id="particles-js"></div>
    
    <div class="overlay"></div>    
    <div id="page-container">
        {% include left_nav.html %}
        <div id="page-content">
            <div id="wrap">{{content}}</div>
        </div>

    </div>

    <script src='{{ "js/jquery-3.2.1.min.js" | absolute_url }}'></script>
    <script src='{{ "js/popper.min.js" | absolute_url }}'></script>
    <script src='{{ "js/bootstrap.min.js" | absolute_url }}'></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src='{{ "js/particle.js" | absolute_url }}'></script>
    <script src='{{ "js/typewriter.js" | absolute_url }}'></script>
    <script src='{{ "js/script.js" | absolute_url }}'></script>
    {% include analytics.html %}
</body>
</html>
