---
layout: default
---

{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}

<div class="container" id="page">

	<div class="row">
		<div class="col-10 offset-1">
			<div class="row">
			<nav aria-label="breadcrumb" style="width: 100%;">
				<div class="float-right">
					<ol  class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">desenfirman.me</a></li>
					{% for crumb in crumbs offset: 1 %}
						{% if forloop.last %}
							<li class="breadcrumb-item active" aria-current="page">{{ page.title | downcase }}</li>
						{% else %}
							<li class="breadcrumb-item"><a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | downcase }}</a></li>
						{% endif %}
					{% endfor %}
					</ol>
				</div>

				<hr class="float-left" style="width: 100%">
			</nav>
			</div>

			<div class="container">
				{{content}}				
			</div>
		</div>
	</div>
</div>
