---
layout: default
---

<div class="container" id="page">

	<div class="row">
		<div class="col-8 offset-md-2 offset-2">
			<div class="row">
			<nav aria-label="breadcrumb" style="width: 100%;">
				<div class="float-right">
					<ol  class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">desenfirman.me</a></li>
						<li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
					</ol>
				</div>

				<hr class="float-left" style="width: 100%">
			</nav>
			</div>

			<div>
				{{content}}				
			</div>
		</div>
	</div>
</div>
