.detail{
    border: none !important;
    table, tr, td{
        border: none !important;
        background-color: transparent !important;
    }
    font-family: 'Oswald', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}