hr {
  &.style2 {
    height: 6px;
    background: url("../../assets/img/hr-11.png") repeat-x 0 0;
    border: 0;
    text-align: center;
    color: #1c3b59;
  }
  &.style2:after {
    font: serif;
    display: inline-block;
    position: relative;
    top: -13px;
    padding: 0 10px;
    background: #e9eefc;
    color: #1c3b59;
    font-size: 18px;
    content: "";
  }
  &.style2.w-love:after {
    content: "\002665";
  }
}

.style1 {
  width: 100%;
  height: 8ex;
  background-image: url("../../assets/img/divider.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8rem auto;
}
